<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% current_admin.courses.each do |course| %>
      <tr>

        <td><%= link_to course.name + ' - Section ' + course.section.to_s + ' - ' + course.semester + ' ' + course.year.to_s, admin_course_path(course, admin_id: current_admin.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'New Course', new_admin_course_path(@course, admin_id: current_admin.id), class: 'btn btn-primary' %>