<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_admin_password_path(@admin) %> 

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin.courses.each do |course| %>
      <tr>
        <td><%= link_to course.name + ' - Section ' + course.section.to_s, admin_course_path(course, admin_id: @admin.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'New Course', new_admin_course_path(@course, admin_id: @admin.id), class: 'btn btn-primary' %>