<center>
  <h3>Enter student id to view quiz results</h3>

  <%= form_for(:student, url: students_path, method: :get) do |f| %>


    <div class="col-md-offset-4 col-md-4">
      <%= f.number_field :id, min: 0, class: "form-control" %>
      <%= f.submit "Go", class: "btn btn-primary", style: "margin-top:1rem" %>
    </div>
  <% end %>
</center>

<style>

h4 {
    color: red
} 
</style>
