<p>
  <strong>Page where Quiz Results will be shown</strong>
</p>

<table>
  <% @articles.each do |article| %>
    <tr>
      <!-- 
      <td>Reflection</td>
	  
      <td><%= link_to 'Delete', article_path(article),
              method: :delete %></td>
	  -->
    </tr>
  <% end %>
<table> 

<%= link_to 'Retake Quiz', new_article_path %> 
