<h1>Team Player Questionnaire</h1>

<h3>Purpose</h3>
<p>
The Team-Player Questionnaire will help you identify your style as a team player. The results will lead you to an assessment of your current strengths and provide a basis for a plan to increase your effectiveness as a team player. Teams may use this questionnaire to develop a profile of team strengths and to discuss strategies for increasing team effectiveness.
</p>
<h3>Directions</h3>
<p>
First, this is a questionnaire, and, therefore, there are no right or wrong responses. Please answer each item according to how you honestly feel you function now as a team member rather than how you used to be or how you would like to be.
<br>
You will be asked to complete eighteen sentences. Each sentence has four possible endings. Please rank the endings in the order in which you feel each one applies to you. Place the number 4 next to the ending which is most applicable to you and continue down to a 1 next to the ending which is least applicable to you.
<br>

Please do not make ties or use 4, 3, 2, or 1 more than once. It is possible that some of the sentences will have two or more endings that apply to you or will have none that applies to you, but you should assume these are your only choices and rank them accordingly. Each set of endings must be ranked 4, 3, 2, and 1. 
</p>


<!-- 
ID tags for answers
con = contributor
col = collaborator
com = communicator
cha = challenger
 -->

<br>
<%= form_with scope: :article, url: articles_path, local: true do |form| %>

<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>1. During team meetings, I usually</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q1a1 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q1a1 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q1a1 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q1a1 value=4 data-prop="con"%></td>
    <td>a. provide the team with technical data or information.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q1a2 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q1a2 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q1a2 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q1a2 value=4 data-prop="col"%></td>
    <td>b. keep the team focused on our mission or goal</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q1a3 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q1a3 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q1a3 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q1a3 value=4 data-prop="com"%></td>
    <td>c. make sure everyone is involved in the discussion</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q1a4 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q1a4 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q1a4 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q1a4 value=4 data-prop="cha"%></td>
    <td>d. raise questions about our goals or methods</td>
</tr>
</table>

</br>

<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>2. In relating to the team leader, I:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q2a1 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q2a1 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q2a1 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q2a1 value=4 data-prop="col"%></td>
    <td>a. suggest that our work be goal directed.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q2a2 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q2a2 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q2a2 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q2a2 value=4 data-prop="com"%></td>
    <td>b. try to help him or her build a positive team climate.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q2a3 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q2a3 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q2a3 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q2a3 value=4 data-prop="cha"%></td>
    <td>c. am willing to disagree with him or her when necessary.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q2a4 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q2a4 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q2a4 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q2a4 value=4 data-prop="con"%></td>
    <td>d. offer advice based upon my area of expertise.></td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>3. Under stress, I sometimes:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q3a1 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q3a1 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q3a1 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q3a1 value=4 data-prop="com"%></td>
    <td>a. overuse humor and other tension-reducing devices.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q3a2 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q3a2 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q3a2 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q3a2 value=4 data-prop="cha"%></td>
    <td>b. am too direct in communicating with other team members.</td>  
</tr>
<tr>
    <td><input type=radio data-col=1 name=q3a3 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q3a3 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q3a3 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q3a3 value=4 data-prop="con"%></td>
    <td>c. lose patience with the need to get involved in discussions</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q3a4 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q3a4 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q3a4 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q3a4 value=4 data-prop="col"%></td>
    <td>d. try to break the tension with a supportive or humorous remark.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>4. When conflicts arise on the team, I usually:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q4a1 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q4a1 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q4a1 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q4a1 value=4 data-prop="cha"%></td>
    <td>a. press for an honest discussion of the differences.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q4a2 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q4a2 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q4a2 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q4a2 value=4 data-prop="con"%></td>
    <td>b. provide reasons why one side or the other is correct.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q4a3 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q4a3 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q4a3 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q4a3 value=4 data-prop="col"%></td>
    <td>c. see the differences as a basis for a possible change in team direction.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q4a4 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q4a4 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q4a4 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q4a4 value=4 data-prop="com"%></td>
    <td>d. try to break the tension with a supportive or humorous remark.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>5. Other team members usually see me as:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q5a1 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q5a1 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q5a1 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q5a1 value=4 data-prop="con"%></td>
    <td>a. factual</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q5a2 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q5a2 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q5a2 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q5a2 value=4 data-prop="col"%></td>
    <td>b. flexible.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q5a3 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q5a3 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q5a3 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q5a3 value=4 data-prop="com"%></td>
    <td>c. encouraging.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q5a4 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q5a4 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q5a4 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q5a4 value=4 data-prop="cha"%></td>
    <td>d. candid.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>6. At times, I am:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q6a1 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q6a1 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q6a1 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q6a1 value=4 data-prop="col"%></td>
    <td>a. too results oriented.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q6a2 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q6a2 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q6a2 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q6a2 value=4 data-prop="com"%></td>
    <td>b. too laid-back.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q6a3 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q6a3 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q6a3 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q6a3 value=4 data-prop="cha"%></td>
    <td>c. self-righteous.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q6a4 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q6a4 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q6a4 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q6a4 value=4 data-prop="con"%></td>
    <td>d. shortsighted.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>7. When things go wrong on the team, I usually:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q7a1 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q7a1 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q7a1 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q7a1 value=4 data-prop="com"%></td>
    <td>a. push for increased emphasis on listening, feedback, and participation.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q7a2 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q7a2 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q7a2 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q7a2 value=4 data-prop="cha"%></td>
    <td>b. press for a candid discussion of our problems.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q7a3 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q7a3 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q7a3 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q7a3 value=4 data-prop="con"%></td>
    <td>c. work hard to provide more and better information..</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q7a4 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q7a4 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q7a4 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q7a4 value=4 data-prop="col"%></td>
    <td>d. suggest that we revisit out basic mission.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>8. A risky team contribution for me is to:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q8a1 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q8a1 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q8a1 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q8a1 value=4 data-prop="cha"%></td>
    <td>a. question some aspect of the team’s work.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q8a2 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q8a2 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q8a2 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q8a2 value=4 data-prop="con"%></td>
    <td>b. push the team to set higher performance standards.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q8a3 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q8a3 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q8a3 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q8a3 value=4 data-prop="col"%></td>
    <td>c. work outside my defined role or job area.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q8a4 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q8a4 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q8a4 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q8a4 value=4 data-prop="com"%></td>
    <td>d. provide other team members with feedback on their behavior as team members.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>9. Sometimes other team members see me as:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q9a1 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q9a1 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q9a1 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q9a1 value=4 data-prop="con"%></td>
    <td>a. a perfectionist.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q9a2 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q9a2 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q9a2 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q9a2 value=4 data-prop="col"%></td>
    <td>b. unwilling to reassess the team’s mission or goals.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q9a3 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q9a3 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q9a3 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q9a3 value=4 data-prop="com"%></td>
    <td>c. not serious about getting the real job done.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q9a4 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q9a4 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q9a4 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q9a4 value=4 data-prop="cha"%></td>
    <td>d. a nitpicker.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>10. I believe team problem solving requires:</th>   
</tr>
<tr>
    <td><input type=radio data-col=1 name=q10a1 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q10a1 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q10a1 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q10a1 value=4 data-prop="col"%></td>
    <td>a. cooperation by all team members.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q10a2 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q10a2 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q10a2 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q10a2 value=4 data-prop="com"%></td>
    <td>b. high-level listening skills.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q10a3 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q10a3 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q10a3 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q10a3 value=4 data-prop="cha"%></td>
    <td>c. a willingness to ask tough questions.</td> 
</tr>
<tr>
    <td><input type=radio data-col=1 name=q10a4 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q10a4 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q10a4 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q10a4 value=4 data-prop="con"%></td>
    <td>d. good solid data.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>11. When a new team is forming, I usually:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q11a1 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q11a1 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q11a1 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q11a1 value=4 data-prop="com"%></td>
    <td>a. try to meet and get to know other team members.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q11a2 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q11a2 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q11a2 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q11a2 value=4 data-prop="cha"%></td>
    <td>b. ask pointed questions about our goals and methods.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q11a3 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q11a3 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q11a3 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q11a3 value=4 data-prop="con"%></td>
    <td>c. want to know what is expected of me. </td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q11a4 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q11a4 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q11a4 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q11a4 value=4 data-prop="col"%></td>
    <td>d. seek clarity about our basic mission.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>12. At times, I make other people feel:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q12a1 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q12a1 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q12a1 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q12a1 value=4 data-prop="cha"%></td>
    <td>a. dishonest because they are not able to be as confrontational as I am.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q12a2 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q12a2 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q12a2 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q12a2 value=4 data-prop="con"%></td>
    <td>b. guilty because they don’t live up to my standards.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q12a3 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q12a3 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q12a3 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q12a3 value=4 data-prop="col"%></td>
    <td>c. small-minded because they don’t think long-range. </td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q12a4 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q12a4 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q12a4 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q12a4 value=4 data-prop="com"%></td>
    <td>d. heartless because they don’t care about how people relate to each other.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>13. I believe the role of the team leader is to:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q13a1 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q13a1 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q13a1 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q13a1 value=4 data-prop="con"%></td>
    <td>a. ensure the efficient solution of business problems.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q13a2 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q13a2 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q13a2 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q13a2 value=4 data-prop="col"%></td>
    <td>b. help the team establish long-range goals and short-term objectives.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q13a3 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q13a3 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q13a3 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q13a3 value=4 data-prop="com"%></td>
    <td>c. create a participatory decision-making climate. </td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q13a4 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q13a4 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q13a4 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q13a4 value=4 data-prop="cha"%></td>
    <td>d. bring out diverse ideas and challenge assumptions.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>14. I believe team decisions should be based on:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q14a1 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q14a1 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q14a1 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q14a1 value=4 data-prop="col"%></td>
    <td>a. the team’s mission and goals.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q14a2 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q14a2 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q14a2 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q14a2 value=4 data-prop="com"%></td>
    <td>b. a consensus of team members.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q14a3 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q14a3 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q14a3 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q14a3 value=4 data-prop="cha"%></td>
    <td>c. an open and candid assessment of the issues.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q14a4 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q14a4 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q14a4 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q14a4 value=4 data-prop="con"%></td>
    <td>d. the weight of the evidence.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>15. Sometimes I:"</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q15a1 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q15a1 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q15a1 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q15a1 value=4 data-prop="com"%></td>
    <td>a. see team climate as an end in itself.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q15a2 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q15a2 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q15a2 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q15a2 value=4 data-prop="cha"%></td>
    <td>b. play the devil’s advocate far too long.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q15a3 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q15a3 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q15a3 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q15a3 value=4 data-prop="con"%></td>
    <td>c. fail to see the importance of effective team process.  </td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q15a4 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q15a4 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q15a4 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q15a4 value=4 data-prop="col"%></td>
    <td>d. overemphasize strategic issues and minimize short-term task accomplishments.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>16. People have often described me as:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q16a1 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q16a1 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q16a1 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q16a1 value=4 data-prop="cha"%></td>
    <td>a. independent.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q16a2 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q16a2 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q16a2 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q16a2 value=4 data-prop="con"%></td>
    <td>b. dependable.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q16a3 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q16a3 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q16a3 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q16a3 value=4 data-prop="col"%></td>
    <td>c. imaginative.  </td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q16a4 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q16a4 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q16a4 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q16a4 value=4 data-prop="com"%></td>
    <td>d. participative.</td>
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>17. Most of the time, I am:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q17a1 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q17a1 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q17a1 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q17a1 value=4 data-prop="con"%></td>
    <td>a. responsible and hardworking.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q17a2 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q17a2 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q17a2 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q17a2 value=4 data-prop="col"%></td>
    <td>b. committed and flexible.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q17a3 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q17a3 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q17a3 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q17a3 value=4 data-prop="com"%></td>
    <td>c. enthusiastic and humorous.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q17a4 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q17a4 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q17a4 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q17a4 value=4 data-prop="cha"%></td>
    <td>d. honest and authentic.</td>   
</tr>
</table>

</br>
<table class="question">
<tr>
    <td>1<td>2<td>3<td>4
    <th>18. In relating to other team members, at times I get annoyed because they don’t:</th>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q18a1 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q18a1 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q18a1 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q18a1 value=4 data-prop="col"%></td>
    <td>a. revisit team goals or check progress.'</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q18a2 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q18a2 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q18a2 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q18a2 value=4 data-prop="com"%></td>
    <td>b. see the importance of working well together.</td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q18a3 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q18a3 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q18a3 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q18a3 value=4 data-prop="cha"%></td>
    <td>c. object to team action with which they disagree.  </td>
</tr>
<tr>
    <td><input type=radio data-col=1 name=q18a4 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q18a4 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q18a4 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q18a4 value=4 data-prop="con"%></td>
    <td>d. complete their team assignments on time. </td>
</tr>
</table>


<br>
<div>
    Contributer: <span id="totalCon"></span><br>
    Collaborator: <span id="totalCol"></span><br>
    Communicator: <span id="totalCom"></span><br>
    Challenger: <span id="totalCha"></span><br>
</div>

  <p>
    <%= form.submit 'Done'%>
  </p>
<% end %>