<h3>Purpose</h3>
<p>
The Team-Player Questionnaire will help you identify your style as a team player. The results will lead you to an assessment of your current strengths and provide a basis for a plan to increase your effectiveness as a team player. Teams may use this questionnaire to develop a profile of team strengths and to discuss strategies for increasing team effectiveness.
</p>
<h3>Directions</h3>
<p>
First, this is a questionnaire, and, therefore, there are no right or wrong responses. Please answer each item according to how you honestly feel you function now as a team member rather than how you used to be or how you would like to be.
<br>
You will be asked to complete eighteen sentences. Each sentence has four possible endings. Please rank the endings in the order in which you feel each one applies to you. Place the number 4 next to the ending which is most applicable to you and continue down to a 1 next to the ending which is least applicable to you.
<br>

Please do not make ties or use 4, 3, 2, or 1 more than once. It is possible that some of the sentences will have two or more endings that apply to you or will have none that applies to you, but you should assume these are your only choices and rank them accordingly. Each set of endings must be ranked 4, 3, 2, and 1. 
</p>

<%= form_with(url: student_quiz_results_path, model: quiz_result, student: @quiz_result.student, local: true) do |form| %>
  <% if quiz_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz_result.errors.count, "error") %> prohibited this quiz_result from being saved:</h2>

      <ul>
      <% quiz_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table class="table">
<h4>1. During team meetings, I usually:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. provide the team with technical data or information.</td>
    <td><input type=radio data-col=1 name=q1a1 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q1a1 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q1a1 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q1a1 value=4 data-prop="con"%></td>
    
</tr>
<tr>
    <td>b. keep the team focused on our mission or goal</td>
    <td><input type=radio data-col=1 name=q1a2 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q1a2 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q1a2 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q1a2 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>c. make sure everyone is involved in the discussion</td>
    <td><input type=radio data-col=1 name=q1a3 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q1a3 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q1a3 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q1a3 value=4 data-prop="com"%></td>

</tr>
<tr>
    <td>d. raise questions about our goals or methods</td>
    <td><input type=radio data-col=1 name=q1a4 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q1a4 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q1a4 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q1a4 value=4 data-prop="cha"%></td>
</tr>
</table>

</br>

<table class="table">
<h4> 2. In relating to the team leader, I:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. suggest that our work be goal directed.</td>
    <td><input type=radio data-col=1 name=q2a1 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q2a1 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q2a1 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q2a1 value=4 data-prop="col"%></td>

</tr>
<tr>
    <td>b. try to help him or her build a positive team climate.</td>
    <td><input type=radio data-col=1 name=q2a2 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q2a2 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q2a2 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q2a2 value=4 data-prop="com"%></td>

</tr>
<tr>
    <td>c. am willing to disagree with him or her when necessary.</td>
    <td><input type=radio data-col=1 name=q2a3 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q2a3 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q2a3 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q2a3 value=4 data-prop="cha"%></td>

</tr>
<tr>
    <td>d. offer advice based upon my area of expertise.</td>
    <td><input type=radio data-col=1 name=q2a4 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q2a4 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q2a4 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q2a4 value=4 data-prop="con"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 3. Under stress, I sometimes: </h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. overuse humor and other tension-reducing devices.</td>
    <td><input type=radio data-col=1 name=q3a1 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q3a1 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q3a1 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q3a1 value=4 data-prop="com"%></td>

</tr>
<tr>
    <td>b. am too direct in communicating with other team members.</td>  
    <td><input type=radio data-col=1 name=q3a2 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q3a2 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q3a2 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q3a2 value=4 data-prop="cha"%></td>

</tr>
<tr>
    <td>c. lose patience with the need to get involved in discussions</td>
    <td><input type=radio data-col=1 name=q3a3 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q3a3 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q3a3 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q3a3 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>d. try to break the tension with a supportive or humorous remark.</td>
    <td><input type=radio data-col=1 name=q3a4 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q3a4 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q3a4 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q3a4 value=4 data-prop="col"%></td>

</tr>
</table>

</br>
<table class="table">
<h4> 4. When conflicts arise on the team, I usually:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. press for an honest discussion of the differences.</td>
    <td><input type=radio data-col=1 name=q4a1 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q4a1 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q4a1 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q4a1 value=4 data-prop="cha"%></td>
</tr>
<tr>
    <td>b. provide reasons why one side or the other is correct.</td>
    <td><input type=radio data-col=1 name=q4a2 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q4a2 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q4a2 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q4a2 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>c. see the differences as a basis for a possible change in team direction.</td>
    <td><input type=radio data-col=1 name=q4a3 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q4a3 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q4a3 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q4a3 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>d. try to break the tension with a supportive or humorous remark.</td>
    <td><input type=radio data-col=1 name=q4a4 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q4a4 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q4a4 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q4a4 value=4 data-prop="com"%></td>
</tr>
</table>

</br>
<table class=" table">
<h4> 5. Other team members usually see me as:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. factual</td>
    <td><input type=radio data-col=1 name=q5a1 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q5a1 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q5a1 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q5a1 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>b. flexible.</td>
    <td><input type=radio data-col=1 name=q5a2 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q5a2 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q5a2 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q5a2 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>c. encouraging.</td>
    <td><input type=radio data-col=1 name=q5a3 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q5a3 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q5a3 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q5a3 value=4 data-prop="com"%></td>
</tr>
<tr>
    <td>d. candid.</td>
    <td><input type=radio data-col=1 name=q5a4 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q5a4 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q5a4 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q5a4 value=4 data-prop="cha"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 6. At times, I am:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. too results oriented.</td>
    <td><input type=radio data-col=1 name=q6a1 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q6a1 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q6a1 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q6a1 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>b. too laid-back.</td>
    <td><input type=radio data-col=1 name=q6a2 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q6a2 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q6a2 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q6a2 value=4 data-prop="com"%></td>
</tr>
<tr>
    <td>c. self-righteous.</td>
    <td><input type=radio data-col=1 name=q6a3 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q6a3 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q6a3 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q6a3 value=4 data-prop="cha"%></td>
</tr>
<tr>
    <td>d. shortsighted.</td>
    <td><input type=radio data-col=1 name=q6a4 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q6a4 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q6a4 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q6a4 value=4 data-prop="con"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 7. When things go wrong on the team, I usually:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. push for increased emphasis on listening, feedback, and participation.</td>
    <td><input type=radio data-col=1 name=q7a1 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q7a1 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q7a1 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q7a1 value=4 data-prop="com"%></td>
</tr>
<tr>
    <td>b. press for a candid discussion of our problems.</td>
    <td><input type=radio data-col=1 name=q7a2 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q7a2 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q7a2 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q7a2 value=4 data-prop="cha"%></td>
</tr>
<tr>
    <td>c. work hard to provide more and better information.</td>
    <td><input type=radio data-col=1 name=q7a3 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q7a3 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q7a3 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q7a3 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>d. suggest that we revisit out basic mission.</td>
    <td><input type=radio data-col=1 name=q7a4 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q7a4 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q7a4 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q7a4 value=4 data-prop="col"%></td>
</tr>
</table>

</br>
<table class="table">
<h4>8. A risky team contribution for me is to: </h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. question some aspect of the team’s work.</td>
    <td><input type=radio data-col=1 name=q8a1 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q8a1 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q8a1 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q8a1 value=4 data-prop="cha"%></td>
</tr>
<tr>
    <td>b. push the team to set higher performance standards.</td>
    <td><input type=radio data-col=1 name=q8a2 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q8a2 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q8a2 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q8a2 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>c. work outside my defined role or job area.</td>
    <td><input type=radio data-col=1 name=q8a3 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q8a3 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q8a3 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q8a3 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>d. provide other team members with feedback on their behavior as team members.</td>
    <td><input type=radio data-col=1 name=q8a4 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q8a4 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q8a4 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q8a4 value=4 data-prop="com"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 9. Sometimes other team members see me as:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. a perfectionist.</td>
    <td><input type=radio data-col=1 name=q9a1 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q9a1 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q9a1 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q9a1 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>b. unwilling to reassess the team’s mission or goals.</td>
    <td><input type=radio data-col=1 name=q9a2 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q9a2 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q9a2 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q9a2 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>c. not serious about getting the real job done.</td>
    <td><input type=radio data-col=1 name=q9a3 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q9a3 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q9a3 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q9a3 value=4 data-prop="com"%></td>
</tr>
<tr>
    <td>d. a nitpicker.</td>
    <td><input type=radio data-col=1 name=q9a4 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q9a4 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q9a4 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q9a4 value=4 data-prop="cha"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 10. I believe team problem solving requires:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. cooperation by all team members.</td>
    <td><input type=radio data-col=1 name=q10a1 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q10a1 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q10a1 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q10a1 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>b. high-level listening skills.</td>
    <td><input type=radio data-col=1 name=q10a2 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q10a2 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q10a2 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q10a2 value=4 data-prop="com"%></td>
</tr>
<tr>
    <td>c. a willingness to ask tough questions.</td> 
    <td><input type=radio data-col=1 name=q10a3 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q10a3 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q10a3 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q10a3 value=4 data-prop="cha"%></td>
</tr>
<tr>
    <td>d. good solid data.</td>
    <td><input type=radio data-col=1 name=q10a4 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q10a4 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q10a4 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q10a4 value=4 data-prop="con"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 11. When a new team is forming, I usually:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. try to meet and get to know other team members.</td>
    <td><input type=radio data-col=1 name=q11a1 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q11a1 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q11a1 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q11a1 value=4 data-prop="com"%></td>
</tr>
<tr>
    <td>b. ask pointed questions about our goals and methods.</td>
    <td><input type=radio data-col=1 name=q11a2 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q11a2 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q11a2 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q11a2 value=4 data-prop="cha"%></td>
</tr>
<tr>
    <td>c. want to know what is expected of me. </td>
    <td><input type=radio data-col=1 name=q11a3 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q11a3 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q11a3 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q11a3 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>d. seek clarity about our basic mission.</td>
    <td><input type=radio data-col=1 name=q11a4 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q11a4 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q11a4 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q11a4 value=4 data-prop="col"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 12. At times, I make other people feel:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. dishonest because they are not able to be as confrontational as I am.</td>
    <td><input type=radio data-col=1 name=q12a1 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q12a1 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q12a1 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q12a1 value=4 data-prop="cha"%></td>
</tr>
<tr>
    <td>b. guilty because they don’t live up to my standards.</td>
    <td><input type=radio data-col=1 name=q12a2 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q12a2 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q12a2 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q12a2 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>c. small-minded because they don’t think long-range. </td>
    <td><input type=radio data-col=1 name=q12a3 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q12a3 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q12a3 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q12a3 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>d. heartless because they don’t care about how people relate to each other.</td>
    <td><input type=radio data-col=1 name=q12a4 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q12a4 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q12a4 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q12a4 value=4 data-prop="com"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 13. I believe the role of the team leader is to:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. ensure the efficient solution of business problems.</td>
    <td><input type=radio data-col=1 name=q13a1 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q13a1 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q13a1 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q13a1 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>b. help the team establish long-range goals and short-term objectives.</td>    
    <td><input type=radio data-col=1 name=q13a2 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q13a2 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q13a2 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q13a2 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>c. create a participatory decision-making climate. </td>
    <td><input type=radio data-col=1 name=q13a3 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q13a3 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q13a3 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q13a3 value=4 data-prop="com"%></td>
</tr>
<tr>
    <td>d. bring out diverse ideas and challenge assumptions.</td>
    <td><input type=radio data-col=1 name=q13a4 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q13a4 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q13a4 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q13a4 value=4 data-prop="cha"%></td>
</tr>
</table>

</br>
<table class="table">
<h4>14. I believe team decisions should be based on: </h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. the team’s mission and goals.</td>
    <td><input type=radio data-col=1 name=q14a1 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q14a1 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q14a1 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q14a1 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>b. a consensus of team members.</td>
    <td><input type=radio data-col=1 name=q14a2 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q14a2 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q14a2 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q14a2 value=4 data-prop="com"%></td>
</tr>
<tr>
    <td>c. an open and candid assessment of the issues.</td>
    <td><input type=radio data-col=1 name=q14a3 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q14a3 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q14a3 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q14a3 value=4 data-prop="cha"%></td>
</tr>
<tr>
    <td>d. the weight of the evidence.</td>
    <td><input type=radio data-col=1 name=q14a4 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q14a4 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q14a4 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q14a4 value=4 data-prop="con"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 15. Sometimes I:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. see team climate as an end in itself.</td>
    <td><input type=radio data-col=1 name=q15a1 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q15a1 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q15a1 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q15a1 value=4 data-prop="com"%></td>
</tr>
<tr>
    <td>b. play the devil’s advocate far too long.</td>
    <td><input type=radio data-col=1 name=q15a2 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q15a2 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q15a2 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q15a2 value=4 data-prop="cha"%></td>
</tr>
<tr>
    <td>c. fail to see the importance of effective team process.  </td>
    <td><input type=radio data-col=1 name=q15a3 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q15a3 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q15a3 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q15a3 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>d. overemphasize strategic issues and minimize short-term task accomplishments.</td>
    <td><input type=radio data-col=1 name=q15a4 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q15a4 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q15a4 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q15a4 value=4 data-prop="col"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 16. People have often described me as:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. independent.</td>
    <td><input type=radio data-col=1 name=q16a1 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q16a1 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q16a1 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q16a1 value=4 data-prop="cha"%></td>
</tr>
<tr>
    <td>b. dependable.</td>
    <td><input type=radio data-col=1 name=q16a2 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q16a2 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q16a2 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q16a2 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>c. imaginative.  </td>
    <td><input type=radio data-col=1 name=q16a3 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q16a3 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q16a3 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q16a3 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>d. participative.</td>
    <td><input type=radio data-col=1 name=q16a4 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q16a4 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q16a4 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q16a4 value=4 data-prop="com"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 17. Most of the time, I am:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. responsible and hardworking.</td>
    <td><input type=radio data-col=1 name=q17a1 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q17a1 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q17a1 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q17a1 value=4 data-prop="con"%></td>
</tr>
<tr>
    <td>b. committed and flexible.</td>
    <td><input type=radio data-col=1 name=q17a2 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q17a2 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q17a2 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q17a2 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>c. enthusiastic and humorous.</td>
    <td><input type=radio data-col=1 name=q17a3 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q17a3 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q17a3 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q17a3 value=4 data-prop="com"%></td>
</tr>
<tr>
    <td>d. honest and authentic.</td>   
    <td><input type=radio data-col=1 name=q17a4 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q17a4 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q17a4 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q17a4 value=4 data-prop="cha"%></td>
</tr>
</table>

</br>
<table class="table">
<h4> 18. In relating to other team members, at times I get annoyed because they don’t:</h4>
<col width="600">
<col width="180">
<col width="180">
<col width="180">
<col width="180">
<tr>
    <td></td>
    <td>Least Applicable </td> 
    <td> Slightly Applicable </td> 
    <td> Moderately Applicable</td> 
    <td>Most Applicable </td> 
</tr>
<tr>
    <td>a. revisit team goals or check progress.</td>
    <td><input type=radio data-col=1 name=q18a1 value=1 data-prop="col"%></td>
    <td><input type=radio data-col=2 name=q18a1 value=2 data-prop="col"%></td>
    <td><input type=radio data-col=3 name=q18a1 value=3 data-prop="col"%></td>
    <td><input type=radio data-col=4 name=q18a1 value=4 data-prop="col"%></td>
</tr>
<tr>
    <td>b. see the importance of working well together.</td>
    <td><input type=radio data-col=1 name=q18a2 value=1 data-prop="com"%></td>
    <td><input type=radio data-col=2 name=q18a2 value=2 data-prop="com"%></td>
    <td><input type=radio data-col=3 name=q18a2 value=3 data-prop="com"%></td>
    <td><input type=radio data-col=4 name=q18a2 value=4 data-prop="com"%></td>
</tr>
<tr>
    <td>c. object to team action with which they disagree.</td>
    <td><input type=radio data-col=1 name=q18a3 value=1 data-prop="cha"%></td>
    <td><input type=radio data-col=2 name=q18a3 value=2 data-prop="cha"%></td>
    <td><input type=radio data-col=3 name=q18a3 value=3 data-prop="cha"%></td>
    <td><input type=radio data-col=4 name=q18a3 value=4 data-prop="cha"%></td>
</tr>
<tr>
    <td>d. complete their team assignments on time. </td>
    <td><input type=radio data-col=1 name=q18a4 value=1 data-prop="con"%></td>
    <td><input type=radio data-col=2 name=q18a4 value=2 data-prop="con"%></td>
    <td><input type=radio data-col=3 name=q18a4 value=3 data-prop="con"%></td>
    <td><input type=radio data-col=4 name=q18a4 value=4 data-prop="con"%></td>
</tr>
</table>


<br>

  <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      Submit
    <% end %>
  </div>
<% end %>

